<h1>Показники діяльності підприємства на <%= @period.strftime("%d.%m.%Y") %> </h1>
<%= form_for (company_performance_index_path(@company)) do |f| %>
    <div class="field">
      <%= label_tag 'Оберіть дату' %>
      <br/>
      <%= select_date Date.today, :prefix => :period %>
    </div>
    <div class="actions">
      <%= f.submit 'Показати' %>
    </div>
<% end %>
<%= link_to 'Назад', @company %> |
<%= link_to "Графики", company_performance_charts_path(@company), :title => "" %>


<table>
  <tr>
    <th>Назва</th>
    <th>Значення</th>
  </tr>
  <tr>
    <td colspan="2">
      <h1>Некомерційні показники</h1>
    </td>
  </tr>
  <tr>
    <td>
      <b>Середньооблікова кількість штатних працівників</b>
    </td>
    <td>
      <%= @performance.average_number_of_staff ? @performance.average_number_of_staff.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Середня заробітна плата</b>
    </td>
    <td>
      <%= @performance.average_salary ? @performance.average_salary.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Сума заборгованості із заробітної плати</b>
    </td>
    <td>
      <%= @performance.total_wage_arrears ? @performance.total_wage_arrears.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Відрахування на соціальні заходи</b>
    </td>
    <td>
      <%= @performance.social_charges ? @performance.social_charges.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h1>Комерційні показники</h1>
    </td>
  </tr>
  <tr>
    <td>
      <b>Чистий дохід (виручка) від реалізації продукції (товарів, робіт, послуг)</b>
    </td>
    <td>
      <%= @performance.net_profit ? @performance.net_profit.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Чистий прибуток (збиток)</b>
    </td>
    <td>
      <%= @performance.net_profit_or_loss ? @performance.net_profit_or_loss.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Частина дівідендів, нарахованих на акції</b>
    </td>
    <td>
      <%= @performance.part_dividendiv_accrued_on_shares ?
                  @performance.part_dividendiv_accrued_on_shares.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Частина чистого прибутку (доходу), що перераховується до державного бюджету</b>
    </td>
    <td>
      <%= @performance.part_net_income_is_transferred_to_the_state_budget ?
                  @performance.part_net_income_is_transferred_to_the_state_budget.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h1>Показники фінансової діяльності</h1>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт рентабельності діяльності</b>
    </td>
    <td>
      <%= @performance.rate_of_return_of ? @performance.rate_of_return_of.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт абсолютної ліквідності</b>
    </td>
    <td>
      <%= @performance.absolute_liquidity_ratio ? @performance.absolute_liquidity_ratio.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт забезпеченості власними коштами</b>
    </td>
    <td>
      <%= @performance.ratio_of_own_funds ? @performance.ratio_of_own_funds.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт загальної ліквідності</b>
    </td>
    <td>
      <%= @performance.ratio_of_total_liquidity ? @performance.ratio_of_total_liquidity.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт покриття</b>
    </td>
    <td>
      <%= @performance.ratio_coating ? @performance.ratio_coating.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт фінансової стійкості</b>
    </td>
    <td>
      <%= @performance.ratio_of_financial_stability ? @performance.ratio_of_financial_stability.round(2) : 'нет данных' %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Коефіцієнт рентабельності активів</b>
    </td>
    <td>
      <%= @performance.ratio_return_on_assets ? @performance.ratio_return_on_assets.round(2) : 'нет данных' %>
    </td>
  </tr>
</table>

<%= link_to 'Назад', @company %>

