<h1>Форми звітності</h1>
<ul class="dropdown">
  <li>
    <%= link_to "Баланс", {:controller => "reporting_forms/balance_lines", :action => "index"}, :title => "" %>
  </li>
  <li>
    <%= link_to "Фінансовий план", {:controller => "reporting_forms/plan_lines", :action => "index"}, :title => "" %>
  </li>
  <li>
    <%= link_to "Звіт з праці", {:controller => "reporting_forms/labor_lines", :action => "index"}, :title => "" %>
  </li>
  <li>
    <%= link_to "Звіт про фінансові результати", {:controller => "reporting_forms/finresult_lines", :action => "index"}, :title => "" %>
  </li>
  <!--<li>-->
    <%= #link_to "ЗВІТ ПРО ФІНАНСОВІ РЕЗУЛЬТАТИ І ДЕБІТОРСЬКУ ТА КРЕДИТОРСЬКУ ЗАБОРГОВАНІСТЬ  ", {:controller => "reporting_forms/b1_lines", :action => "index"}, :title => ""
    -%>
  <!--</li>-->
</ul>

