<h1>Статті звіту про фінансові результати</h1>
<%= link_to 'Нова стаття', new_reporting_forms_finresult_line_path %>
<table id="line_items">
  <tr>
    <th>Назва</th>
    <th>Код</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= line.name_for_select_tag %></td>
    <td><%= line.code %></td>
    <td><%= link_to 'Перегляд', line %></td>
    <td><%= link_to 'Редагувати', edit_reporting_forms_finresult_line_path(line) %></td>
    <td><%= link_to 'Видалити', line, confirm: 'Ви впевнені?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Нова стаття', new_reporting_forms_finresult_line_path %>
