<p id="notice"><%= notice %></p>
<h3>Підприємство <%= @company.name %> </h3>
<%= link_to 'Редагувати', edit_company_reportings_tanimoto_path(params[:company_id], @report) %> |
<%= link_to 'Назад', company_reportings_tanimotos_path %>
</br>

<%= form_tag(:action=>'compare') do |f| %>
<h4>Значення коефіцієнта</h4>
<p style="font-size:10px;"><span>0-0,3</span> - Не подібні (НП)</p>
<p style="font-size:10px;"><span>0,31-0,59</span> - Умовна подібність (УП)</p>
<p style="font-size:10px;"><span>0,6-1</span> - Безумовна подібність (БП)</p>
<table id="line_items" style="width:600px;">
  <tr>
    <th>Підприємство</th>    
    <th>ЕДРПОУ</th>
    <th>Анкети/Коефіцієнт</th>
  </tr>
  <% @other_companies.each do |company| %>
  <tr class="<%= cycle :odd, :even %>">
    <td style="width:30%;">
      <%= company.name %>
    </td>
    <td style="width:30%;">
      <%= company.EDRPOY %>
    </td>
    <td style="width:40%;">
      <% company.tanimotos.each do |report| %>
        <div>
          <%= report_checkbox(report, @report_ids) %>
          <span>
            <span>
              <%= "/ #{@coefs[report.id.to_s]}" if @coefs && @coefs[report.id.to_s]%>
            </span> 
            <span>
              <%= "(#{coef_prefix(@coefs[report.id.to_s])})" if @coefs && @coefs[report.id.to_s]%>
            </span>            
          </span>     
        </div>
      <% end %>
    </td>

  </tr>  
  <% end %>
</table>
</br>
<div class="actions">
  <%= submit_tag 'Розрахувати' %>
</div>
<% end %>

<script type="text/javascript">
(function($){
	$().ready(function(){


    $('#compare_company_id').bind('change',function(){   
      company = $("select#compare_company_id").val();
      $.ajax({
          type: "GET",
          url: 'tanimotos_by_company',            
          data: {
                  other_company_id: company
                }        
      });
     
    });

});
})(jQuery);
</script>
