<h1>Фінансовий результат на <%= @report.period.strftime("%d.%m.%Y") %> </h1>
<%= link_to 'Назад', company_reportings_finresults_path %>
<%= render 'form' %>

<%= link_to 'Просмотр', company_reportings_finresult_path(params[:company_id], @report) %> |
<%= link_to 'Назад', company_reportings_finresults_path %>
