<%= link_to 'Перегляд', company_reportings_finresult_path(params[:company_id], @report) %> |
<%= link_to 'Назад', company_reportings_finresults_path %>
<h3>Підприємство <%= @company.name %> </h3>
<h1 style="text-align:center;">Звіт про фінансові результати на <%= @report.period.strftime("%d.%m.%Y") %> </h1>

<%= render 'form' %>

<%= link_to 'Перегляд', company_reportings_finresult_path(params[:company_id], @report) %> |
<%= link_to 'Назад', company_reportings_finresults_path %>
