<table class="company">
  <tr>
    <td></td>
    <td><div style="width:200px;"></td>
    <td><div style="width:100px;">КОДИ</div></td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align:right;width:200px;">Дата (рік, місяць, число)</td>
    <td style="text-align:right;">01</td>
  </tr>
  <tr>
    <td>Підприємство <b><%= company.name %></b></td>
    <td>за ЄДРПОУ</td>
    <td></td>
  </tr>
  <tr>
    <td>Територія <b><%= company.region %></b></td>
    <td>за КОАТУУ</td>
    <td></td>
  </tr>
  <tr>
    <td>Форма власності <b><%= company.type_of_business_entity %></b></td>
    <td>за КФВ</td>
    <td></td>
  </tr>
  <tr>
    <td>Орган державного управління <b><%= company.governing_body %></b></td>
    <td>за СПОДУ</td>
    <td></td>
  </tr>
  <tr>
    <td>Галузь <b><%= company.region %></b></td>
    <td>за ЗКГНГ</td>
    <td></td>
  </tr>
  <tr>
    <td>Вид економічної діяльності <b><%= company.region %></b></td>
    <td>за КВЕД</td>
    <td></td>
  </tr>
  <tr>
    <td>Одиниця виміру: тис. грн.</td>
    <td style="text-align:right;">Контрольна сума</td>
    <td></td>
  </tr>
</table>
<p>
  Адреса<b>:<%= company.address %></b>
</p>
</br>