<%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :EDRPOY, 'ЕДРПОУ' %>
      <br/>
      <%= f.text_field :EDRPOY %>
    </div>
    <div class="field">
      <%= f.label :name, 'Назва' %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :state_share, 'Держчастка,%' %>
      <br/>
      <%= f.text_field :state_share %>
    </div>
    <div class="field">
      <%= f.label :state_share_count, 'Держчастка, кількість акцій' %>
      <br/>
      <%= f.text_field :state_share_count %>
    </div>
    <div class="field">
      <%= f.label :SF, 'СФ' %>
      <br/>
      <%= f.text_field :SF %>
    </div>
    <div class="field">
      <%= f.label :region, 'Регіон' %>
      <br/>
      <%= f.text_field :region %>
    </div>
    <div class="field">
      <%= f.label :management, 'Контролює управління КПД' %>
      <br/>
      <%= f.text_field :management %>
    </div>
    <div class="field">
      <%= f.label :governing_body, 'Орган управління' %>
      <br/>
      <%= f.text_field :governing_body %>
    </div>
    <div class="field">
      <%= f.label :in_the_management, 'В управлінні ФДМУ / Міністерств' %>
      <br/>
      <%= f.text_field :in_the_management %>
    </div>
    <div class="field">
      <%= f.label :type_of_business_entity, 'Тип господарського товариства' %>
      <br/>
      <%= f.text_field :type_of_business_entity %>
    </div>
    <div class="field">
      <%= f.label :bankruptcy, 'Ознака банкрутства' %>
      <br/>
      <%= f.check_box :bankruptcy %>
    </div>
    <div class="field">
      <%= f.label :form_of_shares, 'Форма існування акцій' %>
      <br/>
      <%= f.text_field :form_of_shares %>
    </div>
    <div class="field">
      <%= f.label :strategist, 'Стратег' %>
      <br/>
      <%= f.text_field :strategist %>
    </div>
    <div class="field">
      <%= f.label :address, 'Адреса' %>
      <br/>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :nominal_value_of_shares, 'Ном.варт.акції' %>
      <br/>
      <%= f.text_field :nominal_value_of_shares %>
    </div>
    <div class="field">
      <%= f.label :nominal_value_of_all_shares, 'Ном.варт.акцій (держ.частки)' %>
      <br/>
      <%= f.text_field :nominal_value_of_all_shares %>
    </div>
    <div class="field">
      <%= f.label :EDRPOY2, 'Код ЄДРПОУ орг.упр.' %>
      <br/>
      <%= f.text_field :EDRPOY2 %>
    </div>
    <div class="field">
      <%= f.label :KVED, 'КВЕД' %>
      <br/>
      <%= f.text_field :KVED %>
    </div>
    <div class="field">
      <%= f.label :mailbox_index, 'Пошт. Індекс' %>
      <br/>
      <%= f.text_field :mailbox_index %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
