<%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><b>ЕДРПОУ</b></td>
        <td><%= f.text_field :EDRPOY %></td>
      </tr>
      <tr>
        <td>
          <b>Назва</b></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><b>Держчастка,%</b></td>
        <td><%= f.text_field :state_share %></td>
      </tr>
      <tr>
        <td><b>Держчастка, кількість акцій</b></td>
        <td><%= f.text_field :state_share_count %></td>
      </tr>
      <tr>
        <td><b>СФ</b></td>
        <td><%= f.text_field :SF %></td>
      </tr>
      <tr>
        <td><b>Регіон</b></td>
        <td><%= f.text_field :region %></td>
      </tr>

      <tr>
        <td><b>Контролює управління КПД</b></td>
        <td><%= f.text_field :management %></td>
      </tr>

      <tr>
        <td><b>Орган управління</b></td>
        <td><%= f.text_field :governing_body %></td>
      </tr>

      <tr>
        <td><b>В управлінні ФДМУ / Міністерств</b></td>
        <td><%= f.text_field :in_the_management %></td>
      </tr>

      <tr>
        <td><b>Тип господарського товариства</b></td>
        <td><%= f.text_field :type_of_business_entity %></td>
      </tr>

      <tr>
        <td><b>Ознака банкрутства</b></td>
        <td><%= f.check_box :bankruptcy %></td>
      </tr>

      <tr>
        <td><b>Форма існування акцій</b></td>
        <td><%= f.text_field :form_of_shares %></td>
      </tr>

      <tr>
        <td><b>Стратег</b></td>
        <td><%= f.text_field :strategist %></td>
      </tr>

      <tr>
        <td><b>Адреса</b></td>
        <td><%= f.text_field :address %></td>
      </tr>

      <tr>
        <td><b>Ном.варт.акції</b></td>
        <td><%= f.text_field :nominal_value_of_shares %></td>
      </tr>

      <tr>
        <td><b>Ном.варт.акцій (держ.частки)</b></td>
        <td><%= f.text_field :nominal_value_of_all_shares %></td>
      </tr>

      <tr>
        <td><b>Код ЄДРПОУ орг.упр.</b></td>
        <td><%= f.text_field :EDRPOY2 %></td>
      </tr>

      <tr>
        <td><b>КВЕД</b></td>
        <td><%= f.text_field :KVED %></td>
      </tr>

      <tr>
        <td><b>Пошт. Індекс</b></td>
        <td><%= f.text_field :mailbox_index %></td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
