<h1>Підприємства</h1>

<table>
  <tr>
    <th>ЕДРПОУ</th>
    <th>Назва</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @companies.each do |company| %>
      <tr>
        <td><%= company.EDRPOY %></td>
        <td><%= company.name %></td>
        <td><%= link_to 'Перегляд', company %></td>
        <td><%= link_to 'Редагувати', edit_company_path(company) %></td>
        <td><%= link_to 'Видалити', company, confirm: 'Вы впевнені?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Нове підприємство', new_company_path %>
