<p id="notice"><%= notice %></p>

<p>
  <b>Назва:</b>
  <%= @company.name %>
</p>


<%= link_to 'Редагувати', edit_company_path(@company) %> |
<%= link_to 'Назад', companies_path %>
<h1>Звіти підприємства</h1>
<ul class="dropdown">
  <li>
    <%= link_to "Баланси", company_reportings_balances_path(@company), :title => "" %>
  </li>
  <li>
    <%= link_to "Фінансові плани", company_reportings_plans_path(@company), :title => "" %>
  </li>
  <li>
    <%= link_to "Звіти з праці", company_reportings_labors_path(@company), :title => "" %>
  </li>
  <li>
    <%= link_to "Звіти про фінансові результати", company_reportings_finresults_path(@company), :title => "" %>
  </li>
</ul>
<h4><%= link_to "Показники діяльності підприємства", company_performance_index_path(@company), :title => "" %></h4>


