<h1>Баланс на <%= @report.period.strftime("%d.%m.%Y") %> </h1>
<%= link_to 'Назад', company_reportings_balances_path %>
<%= render 'form' %>

<%= link_to 'Просмотр', company_reportings_balance_path(params[:company_id], @report) %> |
<%= link_to 'Назад', company_reportings_balances_path %>
