<!DOCTYPE html>
<html>
<head>
  <title>AESPM</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main-header">
  <ul>
    <li>
      <%= link_to "Підприємства", companies_path, :title => "" %>
    </li>
    <% if user_signed_in? && current_user.admin? %>
        <li>
          <%= link_to "Форми звітності", reporting_forms_path, :title => "" %>
        </li>
    <% end %>
  </ul>
</div>
<div id="user_nav">
  <% if user_signed_in? %>
      Ви увійшли як <span class="green"><%= current_user.name %></span> </br>
      <%= link_to "Вийти", destroy_user_session_path, :method => :delete, :class=>"orange" %>
      <br/>
  <% else %>
      <%= link_to "Увійти", new_user_session_path, :title => "Sign in", :class=>"green" %> </br>
      <%= link_to "Зареєструватися", new_user_registration_path, :title => "Sing out", :onclick =>"return get_shadow(this);" %>
  <% end %>  <br/>
</div>
<div id='content' style="padding-top:30px;">
  <%= yield %>
</div>


</body>
</html>

